{% extends 'core/base_with_header.html' %}

{% block content %}
    <div class="mt-10 ml-20">
        {% for reservation in reservations %}
            <div class="mb-10 ml-10 mb-5 mt-5 ml-10 border-solid border-2 rounded p-2 block">
                <a class="inline-block border-solid border-2 border-teal-800 rounded h-10 text-l
                          mb-5 p-3 hover:bg-teal-800 hover:text-white inline-flex items-center "
                          href="{% url 'room' reservation.room.id %}">
                    Комната {{ reservation.room.number }}
                </a>
                <div>
                    {{ reservation.date_start }} - {{ reservation.date_end }}
                </div>
                <form class="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="reservation_id" value="{{reservation.id}}">
                    <button class="border-solid border-2 bg-teal-900 rounded p-2 hover:bg-teal-800
                                   text-white w-40 mt-3" type="submit">
                        Отменить бронь
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
